.blockContent{
    grid-column: cont;
    text-align: center;
}

.blockFigura{
    margin-bottom: 23px;
    text-align: center;
    color: black;
    float: left;
    display: inline-block;
    box-shadow: 0 0 16px darkred;
    border-radius: 22px;
    padding: 3%;
   /* height: 1740px;*/
    width: 53%;

}
.content{

}
.mainBlock{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    text-align: left;
    margin-left: 12%;
}
.blockImg{
    width: 70%;
    border-radius: 30px;
}
.blockDate{
    width: 100%;
    display: inline-block;
    text-align: right;
}
.blockTitle{
    text-align: center;
}